:root {

    --color1: turquoise;
    --color2: aquamarine ;
 }
 
 
 
 body {
    background-image: url("/Tribute Page/images/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    
 }


.nav-links li {
    display: inline-block; 
    color: var(--color1);
    
}

.nav-links li:hover {
    color: blueviolet;
}
.name {
    color: white;
}

.page {
    color: white;
}

.nav-bar {
    background-color: black;
    opacity: 0.7;
    padding: 10px;
}

.quote {
    background-color:  var(--color1);
    opacity: 0.7;
    width: fit-content;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}

.banner  {
    background-image: url("/Tribute Page/images/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    
    
}

.slider {

    background-color: var(--color1);
    opacity: 0.6;
    width: fit-content;
    margin: auto;
    padding: 20px;
    bottom: 0;
    margin-top: 800px;
}

.bio {
    background-color: var(--color1);
    opacity: 0.7;
    width: fit-content;
    padding: 50px;
    margin: auto;
}

button {

    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
}


/** BIOGRAPHY PAGE */

#bio-container {
    background-color: white;
}

.description {
    background-color: var(--color1);
    width: fit-content;
    margin: auto;
    padding: 10px;
    opacity: 0.6;
}

span {

    font-weight: bold;
}

.buttons-3 {
    float: right;
}

/*PERSONAL LIFE PAGE*/

.personal {
    background-color: var(--color1);
    opacity: 0.7;
    width: fit-content;
    padding: 20px;
    margin: auto;
}

.personal-life  {
    background-color: white;
    opacity: 0.9;
}


.music {
    background-color: var(--color1);
    opacity: 0.8;
    width: fit-content;
    padding: 20px;
    margin: auto;

}

.close {

    background-color: var(--color1);

}

.close:hover {

    opacity: 0.7;
    background-color: var(--color2) ;
    color: white;
    padding: 10px;
}

