:root {
    --color1 : blueviolet;
    --color2 : white;
    --color3 : black;
}
 body {

    background-image: url("/Portfolio/images/OLO2DI0.jpg");
    color: var(--color2);

    /*
    background-color: #B4DFF6;*/
 }
 .nav-link {
    color: var(--color2);
 }
 .navbar-toggler {
    color: var(--color1);
 }
 .nav-link:hover {
    color: var(--color1);
 } 
 .navbar {
    background-color: var(--color3);
 }

 #container {
    background-color: black;
    opacity: 0.8;
 }
.logo-2 {
    color: var(--color1);
    font-weight: bolder;
}
#cover-pic {
    border-radius: 50%;
    border-color: var(--color1);
}

button {
    border-radius: 10px;
    background-color: var(--color1) ;
    color: var(--color2);
    padding: 10px;
}

button:hover {
    opacity: 0.7;
}
.button-1 {
    background-color: var(--color2);
    color: var(--color1);
    border-color: var(--color1);
    

}

.button-4 {
    color: white;
    text-decoration: none;

}

.button-1:hover {
    background-color: var(--color1) ;
    color: var(--color2);
}

.button-1 a {
    text-decoration: none;
    
    
}

.unbold {
    font-weight: normal;
}

#languages {
    border-radius: 50%;
    height: 80%;

}

#projects {
    height: 50%;
}

.send {
    padding: 5px;
    border-radius: 1px;
}

.qualification {
    background-color: limegreen;
    color: var(--color2);
    justify-content: center;

}

.education  {
    background-color: grey;
    opacity: 0.9;
    padding: 10px;
    margin: 50px;
}

#logo3 {

    height: 50%;
}

.skil {
    background-color: black;
    
}

.skills1 {
    padding: 20px;
    background-color: white;
    opacity: 0.7;
    width: fit-content;
    margin: auto;


}

.skills {
    border-style: initial;
    border-color: var(--color3);
    padding: 10px;


}

#project {

    padding: 90px;
    height: 80%;
}

.icons a {

    text-decoration: none;
}

#contact {

    background-color: grey;
    opacity: 0.9;
    width: fit-content;
    margin: auto;
}

.experience li {
    list-style: none;
}